bin/
Python/tdw.egg-info/
*/.idea/*
.idea/
__pycache__/
*/__pycache__/*
Python/dist/
Python/tdw/tdw.egg-info/
Python/build/
Python/example_controllers/point_cloud.txt
Python/tdw/binaries/Windows/vhacd/log.txt
Python/tdw/binaries/Darwin/vhacd/log.txt
Python/tdw/binaries/Linux/vhacd/log.txt